body {
    background-color: darkkhaki;
    background-color: black;
    color: darkgoldenrod;
}

#gameAndControls {
    padding: 0px;
    margin: auto;
    height: 100%;
}

#game {
    background-color: black;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    border: 2px solid lightslategray;
    text-align: left;
    width: 555px;
    /* width: 600px; */
    /* background-color: #0a0a0a; */
    background-color: #843200;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

div#sideDiv {
    display: inline-block;
	text-align: left;
	background-color: dimgray;
	color:black;
}

#sideDiv.hidden {
    display: none;
}

#scores {
    min-height: 1em;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    border: 2px solid lightslategray;
    width: 550px;
    margin: auto;
    margin-top: 5px;
    background-color: black;
}

#p1Score {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#p2Score {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#p1Accurracy {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#p2Accurracy {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#mainGameCanvas {
    display: block;
    border: 2px solid lightslategray;
    margin: auto;
    margin-top: 5px;
    /* padding: 5px; */
    background-color:black;
    width: 550px;
    height: 550px;
}

#gametitle {
    min-height: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 550px;
    margin: auto;
    border: 2px solid lightslategray;
    background-color: black;
}

#modifiers {
	display: inline-block;
    vertical-align: top;
    padding: 0px;
    height: 800px;
    width: 200px;
}
#modifiers input[type='button'] {
	width: 90%;
	margin: 2px;
	border: 2px solid black;
}

#debug {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    font-size: 80%;
    width: 430px;
}

#div_controls {
    min-height: 5em;
    /* padding-top: 12px; */
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

#img_points {
    min-height: 5em;
    display: inline-block;
    vertical-align: top;
    background-image: url('images/space_invaders02.png');
    width: 250px;
    height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#instructions {
    /* white-space: normal; */
    font-family: monospace;
    font-size: 11px;
    /* white-space: pre; */
}

.debugTable1 {
    font-size: 12px;
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
    background-color: #d8d8b6;
    vertical-align: top;
    color: black;
}
.debugTable1 caption{font-weight: bold;text-decoration: underline;background-color: #8c8c5b;/* border: 1px solid black; */display: inline-block;text-align: center;}
.textCenter {
    text-align: center;
}

#infodiv {
    margin-top: 5px;
    border: 2px solid lightslategray;
    background-color: black;
    width: 550px;
    margin: auto;
    margin-top: 5px;
}

.centerMain {
    text-align: center;
}

div#infodivText {
    display: inline-block;
    vertical-align: top;
}

/* .debugDiv_container{background-color: dimgray;} */