canvas {
    /* Older versions of FF          */
    image-rendering: optimizeSpeed;

    /* FF 6.0+                       */
    /* Firefox */
    image-rendering: -moz-crisp-edges;

    /* Safari                        */
    /* Webkit (non-standard naming) */
    image-rendering: -webkit-optimize-contrast;

    /* OS X & Windows Opera (12.02+) */
    /* Opera */
    image-rendering: -o-crisp-edges;

    /* Awesome future-browsers       */
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    /* IE                            */
    /* IE (non-standard property) */
    -ms-interpolation-mode: nearest-neighbor;
}

/*  */
body {
    background-color: darkkhaki;
    background-color: black;
    color: darkgoldenrod;
}

#gameAndControls {
    padding: 0px;
    margin: auto;
    height: 100%;
}

#game {
    background-color: black;
    display: inline-block;
    vertical-align: top;
    padding: 3px;
    border: 2px solid lightslategray;
    text-align: left;
    width: 555px;
    background-color: #843200;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

div#sideDiv {
    display: inline-block;
    text-align: left;
    background-color: dimgray;
    color:black;
    width: 580px;
    height: 680px;
}

#sideDiv.hidden {
    display: none;
}

#scores {
    min-height: 1em;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    border: 2px solid lightslategray;
    width: 550px;
    margin: auto;
    margin-top: 5px;
    background-color: black;
}

#p1Score {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#p2Score {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#p1Accurracy {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#p2Accurracy {
    display: inline-block;
    width: 225px;
    text-align: center;
}

#mainCanvas {
    display: block;
    border: 2px solid lightslategray;
    margin: auto;
    margin-top: 5px;
    /* padding: 5px; */
    background-color:black;
    width: 550px;
    height: 550px;
    position: absolute;
    top: 1px;
    left: 1px;
}

#requestUserInteraction{
	background-color: darkgoldenrod;
	color: black;
	border: 2px solid lightslategray;
	height: 3em;
	width: 90%;
	position: absolute;
	top: 35%;
	left: 26px;
	text-align: center;
	font-size: 36px;
	padding-top: 1em;
}
#requestUserInteraction.hidden{
	display:none;
}

#gametitle {
    min-height: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 550px;
    margin: auto;
    border: 2px solid lightslategray;
    background-color: black;
}

.textCenter {
    text-align: center;
}

.centerMain {
    text-align: center;
}

#debug_output{
	border: 2px solid lightslategray;
	padding:2px;
}

div#canvas1_div {
    position: relative;
    height: 560px;
}